.card{
    border-radius: 20px;
    height: auto;
}
.card-text{
    padding: 1rem;
    border-radius: 10px;
    height: 130px;
    overflow: auto;
   
   
 

}
.card-img-top {
    width: 100%;          /* fill the card width */
    height: 200px;        /* fixed height for all images */
    object-fit: cover;    /* crop while keeping aspect ratio */
   
  }
