*{
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  font-family: poppins,sans-serif;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
